@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Poiret+One&display=swap');

.App {
    /* background-color: #282c34;  */
  /* background-image: url('./images/just-waves.png');  */
  background-image: url('./images/just-waves.png');
  background-repeat: repeat;
  /* background-size: cover; */
  height: 100%; 
  display: flex;
  /* cursor: grab;
  overflow: auto; */
  /* font-family: 'Poiret One', cursive; */
  font-family: 'IM Fell English SC', serif;
  /* font-weight: bold; */
}

#shipLayout {
  height: 98vh;
  width: auto;
}

#welcomeMessage {
  color:white;
  background-color: #282c34;
  font-size: 1.2em;
  border-radius: 8px;
  max-width: 60vw;
  padding: 1%;
  text-align: center;
  justify-content: center;
  opacity: 0.9;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#exploreBtn {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #FD0000;
  background-color: white;
  color: black;

  padding: 10px 15px;
  margin: 4px 2px;
}

#exploreBtn:hover {
  background-color: #FD0000;
  color: white;
}

#boatDisplayComponent {
  color:white;
  background-color: #282c34;
  font: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  border-radius: 8px;
  padding: 2%;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  opacity: 0.9;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lifeboatBtn {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #412faa;
  background-color: white;
  color: black;

  padding: 10px 15px;
  margin: 4px 2px;
  width: 100px;
}

.lifeboatBtn:hover {
  background-color: #412faa;
  color: white;
}

#navBar {
  width: 100%;
  max-height: 20%;
}

.men {
  color: green;
}

.modal-dialog {
  max-width: 95%;
}

.btn-primary {
  margin: 5px;
}

#downIcon {
  font-size: 3.0rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

#downIcon:hover {
   color:#FD0000;
   cursor: pointer;
}

.dateTime {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 1%;
  margin-bottom: 1%;
  bottom: 0;
  left: 0;
}

/* LEGEND */

.legend {
  position: absolute;
  font-size: 1.5rem;
  margin-right: 1%;
  margin-bottom: 1%;
  bottom: 0;
  right: 0;
}

/* ZOOM IN AND OUT BUTTONS */

#zoomBtnsDiv {
  position: fixed;
  margin-left: 1%;
  margin-top: 1%;
  top: 0;
  left: 0;
}

.zoomBtns {
  font-size: 40px !important;
  border: 2px solid #282c34 !important;
  background: white !important;
  border-radius: 8px !important;
  margin: 2px !important;
}

.zoomBtns:hover {
  cursor: pointer;
  border: 2px solid #FD0000 !important;
}